*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url("../album/P01_PlanPage/images/plan-page.jpg");
	background-size: 1300px 760px;
	background-repeat: no-repeat;
	text-align: center;
	font-family:  Lato, sans-serif;
	color: white;
}
section{
	width: 100%;
}
article{
	float: left;
	height: 450px;
	width: 300px;
	border: 2px solid grey;
	background-color:  rgb(38, 38, 38,0.7);
	border-radius: 10px;
	margin: 60px;
}
h1{
	font-size: 20px;
	margin-top: 10px;
}
p{
	font-size: 15px;
	margin-top: 10px;
}
.price{
	color: #27dcc4;
	font-size: 3em;
	margin-top: 20px;
}
ul li{
	margin-top: 10px;
	list-style: none;
	padding-top: 5px;
}
ul li a{
	text-decoration: none;
	color: white;
}
button{
	margin-top: 20px;
	padding: 10px 10px;
	font-size: 20px;
	background-color: #27dcc4;
    cursor: pointer;
}
button:hover{
	background-color: red;
}